[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/nitro"]
	path = lib/nitro
	url = https://github.com/OffchainLabs/nitro
	branch = master
	shallow = true
[submodule "lib/token-bridge-contracts"]
	path = lib/token-bridge-contracts
	url = https://github.com/offchainlabs/token-bridge-contracts
